<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>SessionChekerFilter</filter-name>
        <filter-class>edu.hbuas.blog.control.filter.SessionChekerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionChekerFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>edu.hbuas.blog.control.listener.SessionListener</listener-class>
    </listener>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
<error-page>
        <error-code>501</error-code>
        <location>/error.jsp</location>
    </error-page>
<error-page>
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
<error-page>
        <error-code>505</error-code>
        <location>/error.jsp</location>
    </error-page>
<session-config>
    <session-timeout>10</session-timeout>
</session-config>





</web-app>